# Python
__pycache__/
*.pyc
venv/
.env*
.deepeval/


# Node
node_modules/
dist/
build/
my-mastra-app/node_modules/
my-mastra-app/.agents/
my-mastra-app/.claude/
my-mastra-app/.clause/
my-mastra-app/.cursor/
my-mastra-app/.mastra
my-mastra-app/AGENTS.md
my-mastra-app/CLAUDE.md

my-mastra-app/output.txt
my-mastra-app/node_modules
my-mastra-app/dist
my-mastra-app/mastra
my-mastra-app/.env.development
my-mastra-app/.env
my-mastra-app/*.db
my-mastra-app/*.db-*
my-mastra-app/.netlify
my-mastra-app/.vercel


.DS_Store

*.log

*.sqlite3
